<!DOCTYPE html>
<html>
<head>
  <title>My first Vue app</title>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios@0.12.0/dist/axios.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/lodash@4.13.1/lodash.min.js"></script>
  <link href="./index.css" rel="stylesheet">
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
</head>
<body>
  <div id="app-1">
    {{ message }}
  </div>
  <div id="app-2">
    <span v-bind:title="message">
      Hover your mouse over me for a few seconds
      to see my dynamically bound title!
    </span>
  </div>

  <div id="app-3">
    <span v-if="seen">seen is true</span>
    <span v-if="!seen">seen is not true</span>
  </div>

  <div id="app-4">
    <ol>
      <li v-for="todo in todos">
        {{ todo.text }}
      </li>
    </ol>
  </div>

  <div id="app-5">
    <p>{{message}}</p>
    <button v-on:click="reverseMessage">Reverse Messsage</button>
  </div>

  <div id="app-6">
    <p>{{message}}</p>
    <input v-model="message"/>
  </div>

  <div id="app-7">
    <ol>
      <todo-item
        v-for="item in groceryList"
        v-bind:todo="item"
        v-bind:key="item.id"
      />
    </ol>
  </div>

  <div id="watch-example">
    <p>
      Ask a yes/no question:
      <input v-model="question">
    </p>
    <p>{{ answer }}</p>
  </div>

  <div id="class-binding1">
    <p>class-binding1</p>
    <div
      class="static"
      v-bind:class="classObject"
      ></div>
  </div>

  <div id="if-test">
    <p>if test</p>
    <div v-if="condition">condition is true</div>
    <div v-else>condition is false</div>

    <!-- index.cssの .fade-enter/leave が効いてる -->
    <transition name="fade">
      <div v-show="isShow">isShow is {{ isShow }}</div>
    </transition>

  </div>

  <div id="components-demo">
    <div :style="{ fontSize: postFontSize + 'em' }">
      <button-counter
        v-for="post in posts"
        v-bind:key="post.id"
        v-bind:post="post"
        v-on:enlarge-text="enlargeText"
      ></button-counter>
    </div>
  </div>

  <div id="components-demo2">
    <custom-input v-model="searchText"></custom-input>
  </div>

  <div id="components-demo3">
    <my-component v-bind:hoge.sync="searchText"></my-component>
  </div>

  <div id="components-demo4">
    <div>
      <navigation-link
        url="http://www.yahoo.co.jp"
      >
        <span class="fa fa-user"></span>
        hello, world
      </navigation-link>
    </div>
    <div>
      <navigation-link
        url="http://www.google.co.jp"
      >
      </navigation-link>
    </div>
  </div>

  <script src="sample.js"></script>
</body>
</html>
